node_modules
public/bundle.js
public/bundle.js.map
secrets.js
client/secrets.js
bundle.js
bundle.js.map
public/bundle.js.LICENSE.txt

#json files
hotel.json
hotelID.json
hotelPrice.json
flights.json


package-lock.json
airbnb.json

.env

