@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: whitesmoke;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: rgb(17, 32, 91);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

/* Home & Nav */
.logo {
  width: 75px;
  height: 75px;
  margin-left: 1em;
}

.bucketlogo {
  width: 25px;
  height: 25px;
}

video {
  padding-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.overlay {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlay h2 {
  background: none repeat scroll 0 0;
  color: white;
  font-size: 70px;
  margin: 2rem 3rem 0;
  mix-blend-mode: hard-light;
  padding: 5px 15px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 100%;
  text-align: center;
  color: black;
  padding: 0.3em;
}

nav {
  display: inline-block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
  padding-top: 0%;
}

/* our story */
.ourstory {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 3em;
  padding-left: 1em;
  font-size: 35px;
}

#about p {
  font-family: "Roboto", sans-serif;
  color: rgb(17, 32, 91);
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.insta {
  width: 260px;
  height: 260px;
  margin-left: 1em;
}

.arrow {
  width: 200px;
  height: 200px;
  margin-left: 1em;
  margin-top: 2em;
}

#background {
  background-image: url("./photogrid/lug3.png");
  background-size: cover;
  position: relative;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* bucketkist */

.bucketlist {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 3.5em;
  padding-left: 1em;
  font-size: 20px;
}

/* QUIZ PAGE */

#quiz {
  color: rgb(17, 32, 91);
  padding-top: 6em;
  padding-left: 1em;
  font-size: 15px;
}
#routes {
  height: 100vh;
  margin: 5px;
}

.submitForm {
  display: flex;
  font-size: medium;
  gap: rem;
  flex-direction: column;
  width: 100%;
}

.submitForm input,
label {
  height: 2rem;
  font-size: 1.3rem;
}

.hotelComponent {
  flex-grow: 1;
}

.searchComponent {
  display: flex;
  flex-direction: column;
}

.generateComponent {
  flex-grow: 0.5;
  text-align: center;
}

.generateComponent li {
  list-style: none;
}

.airbnbComponent {
  flex-grow: 1;
}

.formResults {
  display: flex;
  justify-content: center;
  column-gap: 2.75rem;
}
