@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #4fa9de;
  /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
  background: whitesmoke;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: rgb(17, 32, 91);
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

/* Home & Nav */
.logo {
  width: 75px;
  height: 75px;
  margin-left: 1em;
}

.bucketlogo {
  width: 25px;
  height: 25px;
}

video {
  padding-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.overlay {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlay h2 {
  background: none repeat scroll 0 0;
  color: white;
  font-size: 70px;
  margin: 2rem 3rem 0;
  mix-blend-mode: hard-light;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  /* position: fixed; */
  width: 100%;
  text-align: center;
  color: black;
  padding: 0.3em;
  z-index: 1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

nav {
  display: inline-block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
  padding-top: 0%;
}

/* our story */
.ourstory {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 3em;
  padding-left: 1em;
  font-size: 35px;
}

#about p {
  font-family: "Roboto", sans-serif;
  color: rgb(17, 32, 91);
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.insta {
  width: 260px;
  height: 260px;
  margin-left: 1em;
}

.arrow {
  width: 200px;
  height: 200px;
  margin-left: 1em;
  margin-top: 2em;
}

#background {
  background-size: cover;
  position: relative;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* bucketkist */

.bucketlist {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 3.5em;
  padding-left: 1em;
  font-size: 20px;
}

/* QUIZ PAGE */

.container {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  margin-top: 3em;
}

#quiz {
  background-color: #0093e9;
  color: rgb(17, 32, 91);
  padding-top: 6em;
  padding-left: 1em;
  font-size: 15px;
}

#routes {
  height: 100vh;
  margin: 5px;
}

.submitForm {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.submitForm input,
label {
  height: 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.submitForm input:last-of-type {
  width: 15%;
}

.submitForm input:nth-last-of-type(2) {
  width: 15%;
}

.submitForm button {
  background: dodgerblue;
  border-radius: 6px;
  color: white;
  font-size: 4vw;
}

.hotelComponent {
  flex-grow: 1;
}

.searchComponent {
  display: flex;
  flex-direction: column;
}

.generateComponent {
  flex-shrink: 1;
  text-align: center;
}

.generateComponent li {
  list-style: none;
}

.airbnbComponent {
  flex-grow: 1;
}

.formResults {
  display: flex;
  justify-content: center;
  column-gap: 2.75rem;
}

.lodgingCards {
  margin-bottom: 15px;
}

#quizbtn {
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  font-size: 15px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-right: 2em;
}

#nextbtn {
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  font-size: 15px;
  font-weight: 4000;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
  margin: 1em;
  margin-left: 0%;
}

/* our Team */
#theteam {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 4em;
  padding-left: 1em;
  font-size: 22px;
}

#theteam h1 {
  padding-right: 2em;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* #profilefoto{
  width: 260px;
  height: 260px;
  margin-left: 1em;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teamcontainer {
  padding: 0 16px;
  background-color: whitesmoke;
}

.teamcontainer::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.teambtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.teambtn:hover {
  background-color: #555;
}
