@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0093e9;
  /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
  font-family: "Montserrat", sans-serif;
  color: rgb(17, 32, 91);
}

/* Home & Nav */
.logo {
  width: 75px;
  height: 75px;
  margin-left: 1em;
}

.bucketlogo {
  width: 25px;
  height: 25px;
}

video {
  padding-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.overlay {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlay h2 {
  background: none repeat scroll 0 0;
  color: white;
  font-size: 90px;
  font-weight: 400;
  margin: 2rem 3rem 0;
  mix-blend-mode: hard-light;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}

.overlay p {
  background: none repeat scroll 0 0;
  color: white;
  font-size: 30px;
  margin: 2rem 3rem 0;
  mix-blend-mode: hard-light;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  text-align: center;
  color: rgb(17, 32, 91);
  z-index: 1;
  margin-top: -0.5em;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

nav {
  display: inline-block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
  padding-top: 0%;
  margin: 0.5em;
}

.navlink-hidden {
  visibility: hidden;
}

/* our story */
.ourstory {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 3em;
  padding-left: 1em;
  font-size: 35px;
}

#about p {
  font-family: "Roboto", sans-serif;
  color: rgb(17, 32, 91);
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.insta {
  width: 260px;
  height: 260px;
  margin-left: 1em;
}

/* bucketlist */

#bucketlist {
  color: rgb(17, 32, 91);
  padding-top: 6em;
  padding-left: 1em;
  font-size: 20px;
}

.bucketcontainer {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  padding-top: 1em;
}

.bucketcontainer h2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


/* QUIZ PAGE */

.container {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 2px;
  margin: auto;
  margin-top: 3em;
}

.container h1 {
  display: flex;
  justify-content: center;
}

#quiz {
  color: rgb(17, 32, 91);
  padding-top: 6em;
  padding-left: 1em;
  font-size: 15px;
}

/* #cardscontainer{
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
  margin-top: 3em;
} */

#routes {
  height: 100vh;
  margin: 5px;
}

.submitForm {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* .submitForm input,
label {
  height: 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.submitForm input:last-of-type {
  width: 15%;
}

.submitForm input:nth-last-of-type(2) {
  width: 15%;
} */

.submitForm button {
  background: dodgerblue;
  border-radius: 6px;
  color: white;
  font-size: 4vw;
}

#quizbtn {
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  font-size: 15px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-left: 2em;
}

#nextbtn {
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  font-size: 15px;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
  margin: 0.5em;
  margin-left: 2em;
}

/* our Team */
#theteam {
  display: flex;
  color: rgb(17, 32, 91);
  padding-top: 4em;
  padding-left: 1em;
  font-size: 22px;
}

#theteam h1 {
  padding-right: 2em;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

#profilefoto {
  width: 260px;
  height: 260px;
  margin-left: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teamcontainer {
  padding: 0 16px;
  background-color: whitesmoke;
}

.teamcontainer::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.teambtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.teambtn:hover {
  background-color: #555;
}

/* cards */
#lodgingcard {
  padding-top: 2em;
}

#airbnbcard {
  padding-top: 8em;
  display: flex;
  margin: auto;
  justify-content: center;
}

.searchComponent {
  display: flex;
  flex-direction: column;
  padding-top: 6em;
}

/* airbnb */

#airbnbComponent {
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  background-color: white;
  color:rgb(17, 32, 91);
  padding-top: 8em;
  display:flex;
  flex-direction: column;
  margin:auto;
  align-items: center;
  padding-top: 5em;
}

.airbnbComponent h2 {
  display:flex;
  justify-content: center;
  margin-bottom: 1em;
}

#bktbtn {
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  display:flex;
  flex-wrap: wrap;
  font-size: 15px;
  border-radius: 0.5em;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: 2em;
  padding-top: .5em;
}

/* quiz carousel */
/* .lodgingCardContainer {
  width: 100%;
}

.lodgingCard {
  width: 80%;
  margin: 0 auto;
}

.lodgingImage {
  width: 100%;
  height: 225px;
}

.lodgingLink {
  text-decoration: none;
  color: black;
}

.lodgingName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.lodgingPrice {
  margin-top: 0.5rem;
  font-size: 1rem;
} */

/* login/signup */

.signupcontainer {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin:auto;
}

#signupForm {
  color: rgb(17, 32, 91);
  padding-left: 1em;
  font-size: 20px;
  padding-top: 10em;
}

#signbtn{
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  font-size: 15px;
  border-radius: 0.5em;
  padding: .5em;
  outline: none;
  margin: .5em;
  margin-left: 2em;
}

.Tripcontainer {
  display: grid;
  height: 350px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
}

.LodgingCardImage {
  width: 260px;
  height: 260px;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
}

#remove{
  background-color: #0093e9;
  border: 2px solid;
  border-color: rgb(17, 32, 91);
  color: white;
  font-size: 15px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-left: 8em;
  margin-top: 14em;
}